<h2>Lista de productos</h2>

{{#if products.length}}
    {{#each products}}
        <ul class="product-list">
            <li class="product-item">{{title}} - ${{price}}</li>
        </ul>
    {{/each}}
{{else}}
    <p>No hay productos</p>
{{/if}}
