<div class="container">

<form id="form">
    <h2>Agregar nuevo producto</h2>
  <div class="form-group">
    <label for="title">Nombre:</label>
    <input type="text" id="title" name="title">
  </div>

  <div class="form-group">
    <label for="description">Descripción:</label>
    <textarea id="description" rows="4" name="description"></textarea>
  </div>

  <div class="form-group">
    <label for="price">Precio:</label>
    <input type="number" id="price" step="0.01" name="price">
  </div>

  <div class="form-group">
    <label for="code">Código:</label>
    <input type="text" id="code" name="code">
  </div>

  <div class="form-group">
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock">
  </div>

  <div class="form-group">
    <label for="status">Estado:</label>
    <select id="status" name="status">
      <option value="enabled">Habilitado</option>
      <option value="disabled">Deshabilitado</option>
    </select>
  </div>

  <div class="form-group">
    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category">
  </div>

  <div class="form-group">
    <button type="submit">Agregar Producto</button>
  </div>
</form>

<div class="listProducts">
    <h2>Lista de productos (en tiempo real)</h2>
    <span>Click sobre un producto para eliminarlo</span>
    <ul id="products"></ul>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/index.js"></script>